.homepage {
    background-image: url('../../assets/hand.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title {
      color: whitesmoke;
      font-family: Arial, Helvetica, sans-serif;
  }

